{% load i18n static %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!-- jQuery Touch Punch - Enable Touch Drag and Drop -->
<script src="/static/js/jquery.touch-punch.min.js"></script>

<!-- jQuery.Shapeshift -->
<script src="/static/js/jquery.shapeshift.js"></script>

<!-- CSS -->
<style>
	.container {
		border: 1px dashed #CCC;
		position: relative;
	}

	.container > div {
		background: #AAA;
		border: 0px solid #333;
		position: absolute;
		height: 100px;
		width: 100px;
	}

	.container > .ss-placeholder-child {
		background: transparent;
		border: 1px dashed blue;
	}

	.selected_container {
		border: 1px dashed #CCC;
		position: relative;
	}

	.selected_container > div {
		background: #AAA;
		border: 0px solid #333;
		position: absolute;
		height: 100px;
		width: 100px;
	}

	.selected_container > .ss-placeholder-child {
		background: transparent;
		border: 1px dashed blue;
	}
</style>

<!-- Javascript -->
<script>
	$(document).ready(function() {
		$(".container").shapeshift({
				gutterX: -1, // Compensate for border width
				gutterY: -1, // Compensate for border width
				paddingX: 0,
				paddingY: 0,
				minHeight: 1000,
		});
		$(".selected_container").shapeshift({
				gutterX: 5, // Compensate for border width
				gutterY: 5, // Compensate for border width
				paddingX: 0,
				paddingY: 0,
				colWidth: 182,
				minHeight: 1500,
		});
		$(".container").before('<input type="hidden" id="42" name="photos" />');
		$(".container").addClass('sortedm2m');
		$("#42").val("157");

		var recalculate_value = function () {
			var children = $(".selected_container").find(".ss-active-child");
			var values = [];
			children.each(function() {
				var val = $(this).attr("for").match(/[0-9]+/)[0];
				console.log("one child weon " + val);
				values.push(val);
			});
			$("#42").val(values.join(','));
		}

		recalculate_value();

		$(".selected_container").bind("ss-added", function() {
			recalculate_value();
		});
		$(".selected_container").bind("ss-removed", function() {
			recalculate_value();
		});
		$(".selected_container").bind("ss-rearranged", function() {
			recalculate_value();
		});
	})
</script>

<div style="width: 100%">
	<div style="float: left; width: 600px; text-align: center">
		<p>
			Les photos dans cette partie ne sont pas sélectionnées, il faut les drag and drop a droite.
			WISIWYG baby
		</p>
		<div class="container" style="width: 600px; height:500px">
			{% for row in unselected %}
			<div {{ row.label_for|safe }} style="width: 180px; height: {{ row.custom_height }}px; background-image: url({{ row.thumb }});">
			</div>
			{% endfor %}
		</div>
	</div>

	<div style="float: left; width: 600px; text-align: center">
		<p>
			Les photos dans cette partie feront partie de l'album, tu peux les drag and drop pour les réordonner.
			Sois heureux bordel.
		</p>
		<div class="selected_container" style="width: 600px; height: 1500px;">
			{% for row in selected %}
			<div {{ row.label_for|safe }} style="width: 180px; height: {{ row.custom_height }}px; background-image: url({{ row.thumb }});">
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="clearfix"></div>
</div>
</div>
