{% load i18n static %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!-- jQuery Touch Punch - Enable Touch Drag and Drop -->
<script src="/static/js/jquery.touch-punch.min.js"></script>

<!-- jQuery.Shapeshift -->
<script src="/static/js/jquery.shapeshift.js"></script>

<!-- CSS -->
<style>
	.container {
		border: 1px dashed #CCC;
		position: relative;
	}

	.container > div {
		background: #AAA;
		border: 1px solid #333;
		position: absolute;
		height: 100px;
		width: 100px;
	}

	.container > .ss-placeholder-child {
		background: transparent;
		border: 1px dashed blue;
	}
</style>

<!-- Javascript -->
<script>
	$(document).ready(function() {
		$(".container").shapeshift({
				gutterX: -1, // Compensate for border width
				gutterY: -1, // Compensate for border width
				paddingX: 0,
				paddingY: 0
		});
	})
</script>

<div class="sortedm2m-container">

	<p class="selector-filter">
		<img src="{% static "sortedm2m/selector-search.gif" %}" alt="" title="{% trans "Type into this box to filter down the list." %}" />
		<input type="text" placeholder="{% trans "Filter" %}" />
	</p>

	<div>
			<div class="container" style="width: 600px">
				{% for row in unselected %}
				<div style="width: 180px; height: {{ row.custom_height }}px; background-image: url({{ row.thumb }});">
				</div>
				{% endfor %}
			</div>

		<p class="help">
			{% trans "Choose items and order by drag & drop." %}
		</p>
	</div>
</div>
